# Notebook 02 — Exploratory Data Analysis

This notebook performs a brief exploratory analysis of the cleaned dataset to understand its structure and main patterns.

# 1. Imports

In [ ]:
from pathlib import Path
import warnings
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns
from IPython.display import display, HTML

In [2]:
print("Current working directory:", Path.cwd())

Current working directory: c:\Users\gabri\Documents\Dokumenty\job-satisfaction-analysis\notebooks

# 2. Settings / Configuration

In [5]:
warnings.filterwarnings("ignore")
seed=42
display(HTML("<style>.output_scroll { height: auto !important; }</style>"))

# 3. Loading data

In [ ]:
data_path = Path("../data/processed") / "clean_data.csv"

if data_path.exists():
    clean_df = pd.read_csv(data_path)
else:
    print(f"Data file not found at {data_path}.")

In [ ]:
clean_df.head()

,id,wiek,m1,woj,m2,g8,wykszt_7k,j1_02,j1_03,j1_04,...,j3_13,m9_13k,m9d,m13,o1_1,o1_2,o1_3,j1_01,satisfaction,generation
0,6591,19,2002,10,0,3,3,4,5,5,...,2,7.0,3000.0,5.0,2600,7500,14000,4,4,Z
1,6592,37,1984,10,1,2,7,2,3,4,...,4,3.0,1100.0,4.0,2500,3000,4500,2,2,M
2,6594,24,1997,14,1,2,6,5,5,5,...,5,9.0,4800.0,5.0,6000,7500,10000,5,4,Z
3,6598,49,1972,24,1,2,5,3,5,5,...,5,10.0,5000.0,4.0,3500,5500,6500,4,4,X
4,6601,46,1975,22,1,2,7,3,5,5,...,2,10.0,5000.0,30.5,-7,-7,-7,2,2,X

In [ ]:
clean_df.describe()

,id,wiek,m1,woj,m2,g8,wykszt_7k,j1_02,j1_03,j1_04,...,j3_12,j3_13,m9_13k,m9d,m13,o1_1,o1_2,o1_3,j1_01,satisfaction
count,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,...,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000
mean,7883.800999,41.693589,1979.710241,16.709409,0.522898,2.077435,4.606162,3.167361,4.257286,4.435470,...,3.668609,3.557036,12.174854,7544.574925,4.472523,3752.722731,5085.328893,7673.571191,3.575354,3.244796
std,735.474779,12.076259,12.067490,8.644631,0.499683,0.318589,2.036074,1.035761,0.790305,0.660334,...,1.222738,1.271594,9.330429,7650.378375,3.797323,1995.137264,2865.747203,7542.529030,0.982951,0.631156
min,6591.000000,18.000000,1952.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,30.500000,1.000000,-7.000000,-7.000000,-7.000000,1.000000,1.000000
25%,7255.000000,32.000000,1970.000000,10.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,...,3.000000,2.000000,6.000000,2800.000000,3.000000,3000.000000,3500.000000,5000.000000,3.000000,3.000000
50%,7897.000000,41.000000,1980.000000,14.000000,1.000000,2.000000,4.000000,3.000000,4.000000,5.000000,...,4.000000,4.000000,8.000000,3750.000000,4.000000,3500.000000,4500.000000,6000.000000,4.000000,3.000000
75%,8516.000000,51.000000,1990.000000,24.000000,1.000000,2.000000,7.000000,4.000000,5.000000,5.000000,...,5.000000,5.000000,12.000000,7000.000000,5.000000,4000.000000,6000.000000,10000.000000,4.000000,4.000000
max,9117.000000,70.000000,2003.000000,32.000000,1.000000,4.000000,7.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,30.500000,30000.000000,30.500000,20000.000000,30000.000000,99000.000000,5.000000,4.000000

In [12]:
print("\n(EDA visualizations and deeper analysis will go here.)")

(EDA visualizations and deeper analysis will go here.)