# Notebook 02 — Exploratory Data Analysis

# 1. Imports

In [ ]:
from pathlib import Path
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML

In [2]:
print("Current working directory:", Path.cwd())

Current working directory: c:\Users\gabri\Documents\Dokumenty\job-satisfaction-analysis\notebooks

# 2. Settings / Configuration

In [5]:
warnings.filterwarnings("ignore")
seed=42
display(HTML("<style>.output_scroll { height: auto !important; }</style>"))

# 3. Loading data

In [10]:
data_path = Path("../data/processed") / "clean_data.csv"

if data_path.exists():
    clean_data_df = pd.read_csv(data_path)
else:
    print(f"Data file not found at {data_path}.")

In [11]:
clean_data_df.head()

,id,wiek,m1,woj,m2,g8,wykszt_7k,j1_02,j1_03,j1_04,...,j3_13,m9_13k,m9d,m13,o1_1,o1_2,o1_3,j1_01,satisfaction,generation
0,6591,19,2002,10,0,3,3,4,5,5,...,2,7.0,3000.0,5.0,2600,7500,14000,4,4,Z
1,6592,37,1984,10,1,2,7,2,3,4,...,4,3.0,1100.0,4.0,2500,3000,4500,2,2,M
2,6594,24,1997,14,1,2,6,5,5,5,...,5,9.0,4800.0,5.0,6000,7500,10000,5,4,Z
3,6598,49,1972,24,1,2,5,3,5,5,...,5,10.0,5000.0,4.0,3500,5500,6500,4,4,X
4,6601,46,1975,22,1,2,7,3,5,5,...,2,10.0,5000.0,30.5,-7,-7,-7,2,2,X

In [12]:
print("\n(EDA visualizations and deeper analysis will go here.)")

(EDA visualizations and deeper analysis will go here.)